# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Tamagui
.tamagui/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Native build artifacts
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log
.eslintcache

# IDE/editor
.idea/
.vscode/
*.iml

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
Desktop.ini

# local env files
.env
.env*.local

# local config
kotlin/new.properties

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
